@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
  --background-color: #f1effe;
  --photo-section-bg-color: #f7e8fd;
  --text-color: #333;
  --white-color: #fff;
  --heading-text-color: #600698;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.photo-description {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the header, countdown, and photo-description sections as needed */
header {
  background-color: var(--background-color);
  color: var(--white-color);
  text-align: center;
  padding: 20px 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header h1{
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  color: var(--heading-text-color);
}

.countdownContainer {
  color: var(--text-color);
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./public/images/beatriz-perez-moya-M2T1j-6Fn8w-unsplash.jpg');
  background-position: center center;
  background-size: cover;
}
.block{
  padding: 10px;
  background-color: #ffffff5c;
  backdrop-filter: blur(10px);
  width: 80%;
  max-width: 300px;
  margin: auto;
  border-radius: 5px;
}

#headline {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.photo-description {
  background-color: var(--photo-section-bg-color);
  height: 100vh;
  width: 100%;
}

footer {
  background-color: var(--background-color);
  color: var(--white-color);
  text-align: center;
  padding: 10px 0;
  /* height: 10vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(./public/images/map.png);
  background-position: center center;
  background-size: cover;
  height: 50vh;
}
footer a{
  text-decoration: none;
  /* width:150px;height:50px; */
  padding: 10px 30px 20px 30px;
  background-color: #6006988b;
  backdrop-filter: blur(10px);
  color: var(--white-color);
  margin: 20px auto;
  border-radius: 5px;
}

