@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
  --background-color: #f1effe;
  --text-color: #333;
  --white-color: #fff;
  --heading-text-color: #600698;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: 'Dancing Script', cursive;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  color: var(--white-color);
}

/* Style the header, countdown, and photo-description sections as needed */
header {
  background-color: var(--background-color);
  color: var(--white-color);
  text-align: center;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header h1{
  margin: auto;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  color: var(--heading-text-color);
}

.intro{
  height: 100vh;
  width: 100%;
  background-image: url(./public/images/lav_back2.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
}
.intro-content {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.intro-content h1{
  font-size: 60px;
}
.intro-content p{
  font-size: 40px;
  color: var(--white-color);
}
.countdownContainer {
  color: var(--text-color);
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./public/images/lav_back3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block{
  padding: 10px;
  background-color: #ffffff5c;
  backdrop-filter: blur(10px);
  width: 80%;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
}

#headline {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.details {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.invitation-content {
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 30px;
  background-color: #fffef0;
  border-radius: 5px;
  font-family: 'Dancing Script', cursive;
  color: var(--heading-text-color);
}

/* Apply styles to the headings with lines underneath */
h2 {
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}

h2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #333; /* Color of the line */
  bottom: -10px;
  left: 0;
  transform: translateX(10%);
  transform-origin: center center;
}

/* Apply styles to the paragraphs */
p {
  font-size: 20px;
  margin: 10px 0;
  color: #000;
}

/* Apply styles to the location */
.location {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

footer {
  background-color: var(--background-color);
  color: var(--white-color);
  text-align: center;
  padding: 40px 0 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.map-container{
  height: 50vh;
  width: 80%;
  background-image: url(./public/images/map.png);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.map-container a{
  text-decoration: none;  
  padding: 10px 20px 10px 20px;
  background-color: #60009cbb;
  backdrop-filter: blur(10px);
  color: var(--white-color);
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.map-container a p{
  color: var(--white-color);
  margin: auto;
}

