@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Inter+Tight:wght@200&display=swap');
:root {
  --background-color: #f1effe;
  --text-color: #333;
  --white-color: #fff;
  --black-color: #290349;
}
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  font-family: 'Inter Tight', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  color: var(--white-color);
}

.logo_img{
  width: 180px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.intro{
  height: 105vh;
  width: 100%;
  background-image: url(./public/images/lav_back2.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
}
.intro-content {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 80%;
  max-width: 600px;
  padding: 10px;
  /* border-radius: 10px;
  background-color: var(--background-color);
  box-shadow: rgba(44, 41, 37, 0.1) 0px 10px 60px, rgba(0, 0, 0, 0.1) 0px 10px 60px; */

}
.intro-content h1{
  font-size: 60px;
  font-family: 'Tangerine', cursive;
  color: var(--black-color);
  margin-top: 30px;
}

.intro h3{
  font-size: 40px;
  color: var(--black-color);
  font-family: 'Tangerine', cursive;
  margin: 30px 0;
}

.countdownContainer {
  color: var(--text-color);
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url('./public/images/lav_back3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.block{
  padding: 10px;
  background-color: #ffffff5c;
  backdrop-filter: blur(10px);
  width: 80%;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(44, 41, 37, 0.1) 10px 10px 60px, rgba(0, 0, 0, 0.1) 10px 10px 60px;

}
.block p {
  margin: 30px 20px;
}
.block h3 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 40px;
  color: var(--black-color);
  font-family: 'Tangerine', cursive;
}
#countdown{
  margin-bottom: 20px;
}
#countdown ul{
margin: 10px 0 10px 0;
}
#countdown li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 5px;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}

.count-value {
  display: block;
  font-size: 20px;
}
.count-unit{
  font-size: 10px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

.details {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fffff9;
  box-shadow: 0px 20px 20px 20px #fffff9, 0px -20px 20px 20px #fffff9;
  z-index: 1;
}
.invitation-content {
  text-align: center;
  width: 80%;
  max-width: 600px;
  height: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fffff9;
  border-radius: 10px;
  color: var(--black-color);
  box-shadow: rgba(44, 41, 37, 0.1) 0px 10px 60px, rgba(0, 0, 0, 0.1) 0px 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row p{
  font-family: 'Tangerine', cursive;
  font-size: 30px;
}

.info{
  font-size: 16px;
  text-align: left;
}
/* Apply styles to the headings with lines underneath */
.invitation-content h2 {
  position: relative;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Tangerine', cursive;
}

.invitation-content h2::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #333; /* Color of the line */
  bottom: -10px;
  left: 0;
  transform: translateX(10%);
  transform-origin: center center;
}

.location {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
.location p{
  font-family: 'Tangerine', cursive;
  font-size: 30px;
}
.location p a{
  color: var(--black-color);
}

footer {
  background-color: #fffff9;
  box-shadow: 0px 20px 20px 20px #fffff9, 0px -20px 20px 20px #fffff9;
  color: var(--white-color);
  text-align: center;
  padding: 40px 0 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.map-container{
  height: 50vh;
  width: 80%;
  max-width: 600px;
  background-image: url(./public/images/map.png);
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: rgba(44, 41, 37, 0.1) 0px 10px 60px, rgba(0, 0, 0, 0.1) 0px 10px 60px;
}
.map-container a{
  text-decoration: none;  
  padding: 10px 20px 10px 20px;
  background-color: var(--black-color);
  backdrop-filter: blur(10px);
  color: var(--white-color);
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.2s ease;
}
.map-container a:hover{
  background-color: #875faa;
  color: var(--black-color);
}
.map-container a p{
  color: var(--white-color);
  margin: auto;
}

.map-container a svg {
  animation: zoomWiggle 1s ease-in-out infinite; /* Repeat the animation infinitely */
}

@keyframes zoomWiggle {
  0%, 100% {
    transform: scale(1); /* Default size */
  }
  25% {
    transform: scale(1.3); /* Zoom in */
  }
  50% {
    transform: rotate(-5deg); /* Wiggle left */
  }
  75% {
    transform: rotate(5deg); /* Wiggle right */
  }
}

/* ################# Hamburger Menu ################### */
.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
  background-color: #e3e3e34d;
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
  /* Hide blue highlight */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: rgba(44, 41, 37, 0.1) 0px 2px 10px, rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.menu-icon:hover{
  background-color: #29034980;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.side-panel {
  position: fixed;
  top: 0;
  right: -50%; /* Hide the side panel initially */
  width: 50%;
  height: 100%;
  background-color: #ffffff62;
  overflow-y: auto;
  transition: 0.4s;
  z-index: 2;
  display: flex;
  justify-content: right;
  backdrop-filter: blur(20px);
}
.side-panel.show {
  right: 0; /* Show the side panel by setting left to 0 */
  box-shadow: rgba(44, 41, 37, 0.1) 0px 10px 60px, rgba(0, 0, 0, 0.1) 0px 10px 60px;
}
.side-panel ul {
  margin: auto;
  list-style: none;
  padding: 10px;
  text-align: right;
}
@media all and (max-width: 768px) {
  .side-panel ul {
    margin: auto 10px;
    list-style: none;
    padding: 10px;
    text-align: right;
  }
}

.side-panel ul li {
  margin: 30px 0;
}

.side-panel ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.2s ease;
}

.side-panel ul li a:hover {
  color: var(--heading-text-color);
}